#page-header {
    background-color: #4682B4;
    color: whitesmoke;
    margin-bottom: 20px;
}

#logout-button {
    margin-top: 13px;
    float: right;
    color: whitesmoke;
    background-color: #4682B4;
}