$bgcolor:#36648B;

#page-side {
    background-color: $bgcolor;
}
#page-menu {
    background-color: $bgcolor;
    ul {
        background-color: $bgcolor;
    }
    li {
        margin-top: 0px;
    }
}
.ant-layout-sider-trigger{
    background-color: $bgcolor;
}