#page-header {
    background-color: #4682B4;
    color: whitesmoke;
    padding: 0;
    position: relative;
    height: 65px;
    margin-bottom: 30px;
    .header-left{
        width: 25%;
        height: 100%;
        float: left;
        text-align: center;
        font-size: large;
    }
    .header-right{
        width: 75%;
        height: 100%;
        float: left;
        padding-right: 80px;
    }
}

#logout-button {
    margin-top: 13px;
    float: right;
    color: whitesmoke;
    background-color: #4682B4;
}